
.doctors .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}
.doctors .box-text{
    text-align: left;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:1rem;
    padding-left: 5rem;
    padding-right: 15rem;
    margin-bottom: 15rem;
    margin-left: 40rem;
   
}
.doctors .btn{
    padding:1rem;
}
.doctors .box-container .box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}

.doctors .box-container .box img{
    height: 20rem;
    border:var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.doctors .box-container .box h3{
    color:var(--black);
    font-size: 1rem;
}



.doctors .box-container .box .share{
    padding-top: 2rem;
}

.doctors .box-container .box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}

.doctors .box-container .box .share a:hover{
    background:var(--green);
    color:#fff;
    box-shadow: var(--box-shadow);
}


/* search bar css */



.doctors .box-container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}
.doctors .box-text{
    text-align: left;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:1rem;
    padding-left: 5rem;
    padding-right: 15rem;
    margin-bottom: 15rem;
    margin-left: 40rem;
   
}
.doctors .btn{
    padding:1rem;
}
.doctors .box-container1 .box1{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}

.doctors .box-container1 .box1 img{
    height: 20rem;
    border:var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.doctors .box-container1 .box1 h3{
    color:var(--black);
    font-size: 1rem;
}



.doctors .box-container1 .box1 .share{
    padding-top: 2rem;
}

.doctors .box-container1 .box1 .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}

.doctors .box-container1 .box1 .share a:hover{
    background:var(--green);
    color:#fff;
    box-shadow: var(--box-shadow);
}